section .banner {
  position: relative;
  width: 100%;
}

section .banner img {
  width: 100%;
  z-index: 1;
}

section .title {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #fff;
  height: 90px;
  background-color: #1c3093;
}

section .taxi {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .taxi .left {
  width: 70%;
  padding-right: 100px;
  margin-right: 40px;
}

@media (max-width: 1080px) {
  section .taxi .left {
    width: 60%;
    padding-right: 30px;
    margin-right: 10px;
  }
}

@media (max-width: 800px) {
  section .taxi .left {
    width: 50%;
    padding-right: 10px;
    margin-right: 5;
  }
}

@media (max-width: 600px) {
  section .taxi .left {
    width: 100%;
    padding-left: 10px;
  }
}

section .taxi .left .ttl {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
  color: #1c3093;
  font-size: 1.8rem;
  font-weight: 600;
}

@media (max-width: 800px) {
  section .taxi .left .ttl {
    font-size: 1.2rem;
  }
}

section .taxi .left .nd {
  font-family: "Lato",sans-serif;
  font-size: 1rem;
}

@media (max-width: 800px) {
  section .taxi .left .nd {
    font-size: 0.7rem;
  }
}

section .taxi .left .nd span a {
  color: #1c3093;
  text-decoration: none;
  text-transform: uppercase;
}

section .taxi .left .list_icon {
  margin: 40px 0;
  font-family: "Lato",sans-serif;
}

section .taxi .left .list_icon .l_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #eaeaea;
  border-left: 0;
  border-right: 0;
  padding: 15px 0px;
  padding-left: 40px;
}

section .taxi .left .list_icon .l_icon img {
  margin-right: 40px;
  width: 40px;
  height: 45px;
}

section .taxi .left .list_icon .l_icon .txt {
  font-size: 1.5rem;
}

@media (max-width: 800px) {
  section .taxi .left .list_icon .l_icon .txt {
    font-size: 1rem;
  }
}

section .taxi .left .list_icon .l_icon .txt strong {
  color: #1c3093;
}

section .taxi .left p {
  font-size: 1.2rem;
  font-family: "Lato",sans-serif;
}

@media (max-width: 768px) {
  section .taxi .left p {
    font-size: 0.8rem;
  }
}

section .taxi .left p i {
  color: #1c3093;
  margin-right: 10px;
}

section .taxi .left .box_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px 0;
}

section .taxi .left .box_img .img {
  width: calc(100%/2);
  height: 300px;
}

@media (max-width: 1080px) {
  section .taxi .left .box_img .img {
    height: 270px;
  }
}

@media (max-width: 800px) {
  section .taxi .left .box_img .img {
    height: 180px;
  }
}

@media (max-width: 320px) {
  section .taxi .left .box_img .img {
    height: 100px;
  }
}

section .taxi .left .box_img .img img {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 40px;
}

section .taxi .left .ctc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Oswald", sans-serif;
}

section .taxi .left .ctc h1 {
  text-transform: uppercase;
  font-size: 2rem;
  color: #1c3093;
  margin-right: 20px;
  padding: 10px 0px;
}

@media (max-width: 800px) {
  section .taxi .left .ctc h1 {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  section .taxi .left .ctc h1 {
    margin-right: 5px;
    font-size: 0.5rem;
  }
}

section .taxi .left .ctc b {
  font-size: 1.8rem;
  text-align: center;
  padding: 10px 30px;
  background: #f3cc11;
  border-radius: 40px;
  letter-spacing: 2px;
  -webkit-box-shadow: 5px 5px #c7c7c7;
          box-shadow: 5px 5px #c7c7c7;
  background: -ms-linear-gradient(top, #fcd71e 30%, #e9c003 70%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #fcd71e), color-stop(0.7, #e9c003));
}

@media (max-width: 768px) {
  section .taxi .left .ctc b {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  section .taxi .left .ctc b {
    font-size: 1rem;
    padding: 5px;
  }
}

section .taxi .right {
  width: 50%;
}

@media (max-width: 600px) {
  section .taxi .right {
    display: none;
  }
}

section .taxi .right .box_book {
  width: 400px;
  margin-bottom: 40px;
}

section .taxi .right .box_book .top_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fed300;
  height: 60px;
  font-family: "Lato", sans-serif;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

section .taxi .right .box_book .top_box h2 {
  font-size: 26px;
  font-weight: bold;
}

section .taxi .right .box_book .bottom_box {
  height: 100%;
  background: #f1f1f1;
  padding: 10px 20px;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

section .taxi .right .box_book .bottom_box .text_book {
  color: #333333;
  font-weight: bold;
  margin: 5px 0;
  margin-top: 10px;
  font-size: 15px;
}

section .taxi .right .box_book .bottom_box .icon {
  width: 40px;
  height: 40px;
  padding: 10px;
  background: #585858;
  color: #fff;
  font-size: 1rem;
}

@media (max-width: 800px) {
  section .taxi .right .box_book .bottom_box .icon {
    font-size: 0.7rem;
  }
}

section .taxi .right .box_book .bottom_box input {
  width: 90%;
  height: 40px;
  border: 1px solid #eaeaea;
  color: #c5c5c5;
  padding: 0 15px;
}

section .taxi .right .box_book .bottom_box .time {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .taxi .right .box_book .bottom_box .time .date {
  margin-right: 38px;
}

@media (max-width: 800px) {
  section .taxi .right .box_book .bottom_box .time .date {
    margin-right: 20px;
  }
}

section .taxi .right .box_book .bottom_box .time .date label {
  font-size: 15px;
  color: #333333;
  font-weight: bold;
  margin: 5px 0;
}

section .taxi .right .box_book .bottom_box .time .date .icon {
  font-size: 1rem;
  padding: 10px;
}

@media (max-width: 800px) {
  section .taxi .right .box_book .bottom_box .time .date .icon {
    padding: 5px;
  }
}

section .taxi .right .box_book .bottom_box .time .date input {
  width: 122px;
}

section .taxi .right .box_book .bottom_box .time .none {
  margin-right: 0;
}

section .taxi .right .box_book .bottom_box select {
  width: 87%;
  border: 1px solid #eaeaea;
  height: 40px;
  font-family: "Lato", sans-serif;
  color: #c5c5c5;
}

section .taxi .right .box_book .bottom_box .submit_book {
  margin-top: 30px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .taxi .right .box_book .bottom_box .submit_book .btn {
  width: 150px;
  height: 40px;
  border: 0;
  text-transform: uppercase;
  color: #fff;
  font-family: "Lato", sans-serif;
  background: #1c3093;
}

section .taxi .right .box_b {
  width: 400px;
}

section .taxi .right .box_b .text {
  text-transform: uppercase;
  font-size: 1.7rem;
  color: #1c3093;
  font-family: "Oswald", sans-serif;
}

section .taxi .right .box_b .form {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section .taxi .right .box_b .form .txt {
  width: 600px;
  padding: 20px 0px;
  border-left: 5px solid #c2c2c2;
  background: #ededed;
  font-family: "Lato", sans-serif;
  margin-bottom: 10px;
}

section .taxi .right .box_b .form .txt:hover {
  border-left: 10px solid #1c3093;
}

section .taxi .right .box_b .form .txt:hover a {
  color: #1c3093;
}

section .taxi .right .box_b .form .txt a {
  text-transform: uppercase;
  color: #333333;
  text-decoration: none;
  padding: 0 20px;
  font-size: 1.2rem;
  font-weight: 500;
}
/*# sourceMappingURL=txsanbay.css.map */