* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 150%;
  font-family: "Rubik", sans-serif;
}

header .header {
  width: 100%;
  max-width: 1275px;
  margin: 0 auto;
  text-align: left;
  padding-top: 17px;
}

header .header .nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

header .header .nav_menu .logo {
  width: 230px;
}

@media (max-width: 1080px) {
  header .header .nav_menu .logo {
    padding: 0px 15px;
  }
}

@media (max-width: 992px) {
  header .header .nav_menu .logo {
    width: 165px;
  }
}

header .header .nav_menu .logo a img {
  width: 100%;
}

header .header .nav_menu .menu {
  display: none;
}

@media (min-width: 768px) {
  header .header .nav_menu .menu {
    display: block;
  }
}

header .header .nav_menu .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 160px;
}

@media (max-width: 1024px) {
  header .header .nav_menu .menu ul {
    padding-left: 100px;
  }
}

@media (max-width: 992px) {
  header .header .nav_menu .menu ul {
    padding-left: 0px;
  }
}

header .header .nav_menu .menu ul li {
  list-style: none;
  padding: 35px 0;
}

@media (max-width: 992px) {
  header .header .nav_menu .menu ul li {
    padding: 20px 0;
  }
}

header .header .nav_menu .menu ul li a {
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  color: #848484;
  font-size: 1.063rem;
  padding: 38px 15px;
}

header .header .nav_menu .menu ul li a:hover {
  color: #e78e47;
}

@media (max-width: 1080px) {
  header .header .nav_menu .menu ul li a {
    font-size: 0.7rem;
    padding: 38px 10px;
  }
}

@media (max-width: 992px) {
  header .header .nav_menu .menu ul li a {
    font-size: 0.5rem;
  }
}

header .header .nav_menu .hotline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 33px;
  padding-right: 0;
  padding-left: 20px;
}

@media (max-width: 992px) {
  header .header .nav_menu .hotline {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  header .header .nav_menu .hotline {
    position: absolute;
    right: 150px;
  }
}

@media (max-width: 600px) {
  header .header .nav_menu .hotline {
    display: none;
  }
}

header .header .nav_menu .hotline span:nth-child(2) {
  padding-top: 5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

@media (max-width: 992px) {
  header .header .nav_menu .hotline span:nth-child(2) {
    font-size: 0.6rem;
  }
}

header .header .nav_menu .guiyeucau {
  margin-left: 15px;
}

@media (max-width: 992px) {
  header .header .nav_menu .guiyeucau {
    margin-left: 5px;
  }
}

@media (max-width: 768px) {
  header .header .nav_menu .guiyeucau {
    position: absolute;
    right: 70px;
  }
}

@media (max-width: 376px) {
  header .header .nav_menu .guiyeucau {
    display: none;
  }
}

header .header .nav_menu .guiyeucau a {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  padding: 10px 1.5em;
  margin: 25px 0;
  display: block;
  background: #A6C1C9;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 47px;
}

@media (max-width: 992px) {
  header .header .nav_menu .guiyeucau a {
    margin-left: 5px;
    font-size: 0.7rem;
    padding: 5px 1em;
    margin: 20px 0;
  }
}

header .header .nav_menu .navbar {
  font-size: 2rem;
  color: #e78e47;
  display: block;
  position: absolute;
  right: 20px;
  top: 10px;
}

@media (min-width: 768px) {
  header .header .nav_menu .navbar {
    display: none;
  }
}

header .header .nav_menu .checked:checked ~ .overlay {
  display: block;
}

header .header .nav_menu .checked:checked ~ .menu_mobile {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

header .header .nav_menu .overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9998;
  display: none;
  -webkit-animation: opa linear 0.2s;
          animation: opa linear 0.2s;
}

@-webkit-keyframes opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header .header .nav_menu .menu_mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  max-width: 100%;
  background: #fff;
  z-index: 9999;
  padding: 20px 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: opacity linear 0.3s, -webkit-transform linear 0.3s;
  transition: opacity linear 0.3s, -webkit-transform linear 0.3s;
  transition: transform linear 0.3s, opacity linear 0.3s;
  transition: transform linear 0.3s, opacity linear 0.3s, -webkit-transform linear 0.3s;
}

header .header .nav_menu .menu_mobile a img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

header .header .nav_menu .menu_mobile .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header .nav_menu .menu_mobile .close {
  font-size: 2rem;
  color: #d50c0c;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

header .header .nav_menu .menu_mobile ul {
  margin-top: 24px;
  padding: 0 20px;
}

header .header .nav_menu .menu_mobile ul li {
  list-style: none;
  padding-bottom: 5px;
}

header .header .nav_menu .menu_mobile ul li:hover {
  border-bottom: 1px solid #e78e47;
}

header .header .nav_menu .menu_mobile ul li a {
  text-decoration: none;
  display: block;
  padding: 8px;
  color: #e78e47;
  font-size: 1.2rem;
}

footer .footer_top {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  max-width: 1000px;
}

@media (max-width: 1024px) {
  footer .footer_top {
    padding: 0 10px;
  }
}

footer .footer_top .footer_t {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  footer .footer_top .footer_t {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer .footer_top .footer_t .foot_col:nth-child(1) {
  margin-right: 180px;
}

@media (max-width: 768px) {
  footer .footer_top .footer_t .foot_col:nth-child(1) {
    margin-right: 0px;
  }
}

footer .footer_top .footer_t .foot_col {
  width: calc(100%/2);
}

@media (max-width: 768px) {
  footer .footer_top .footer_t .foot_col {
    width: 100%;
    margin-bottom: 20px;
  }
}

footer .footer_top .footer_t .foot_col .logo_footer {
  width: 85%;
}

footer .footer_top .footer_t .foot_col .logo_footer img {
  width: 100%;
}

footer .footer_top .footer_t .foot_col .text {
  font-family: "Lato", sans-serif;
  line-height: 24px;
  padding: 0px;
  font-size: 14px;
  color: #888885;
}

footer .footer_top .footer_t .foot_col h5 {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.35em;
  letter-spacing: -0.7px;
  margin-top: 0;
  margin-bottom: 1.25em;
}

@media (max-width: 992px) {
  footer .footer_top .footer_t .foot_col h5 {
    font-size: 0.8rem;
  }
}

footer .footer_top .footer_t .foot_col .form_mail {
  position: relative;
}

footer .footer_top .footer_t .foot_col .form_mail form .textf {
  height: 56px;
  width: 100%;
  padding: 0px 10px;
  outline: none;
  border: 0px;
  padding-right: 105px;
  color: #888885;
  border-color: #f5f4ef;
  background-color: #f5f4ef;
  font-size: 18px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  padding-left: 27px;
}

@media (max-width: 992px) {
  footer .footer_top .footer_t .foot_col .form_mail form .textf {
    font-size: 0.8rem;
    height: 50px;
    width: 100%;
    padding: 0px 15px;
    padding-right: 105px;
  }
}

footer .footer_top .footer_t .foot_col .form_mail form .subf {
  position: absolute;
  padding: 0 30px;
  height: 56px;
  top: 0;
  right: 0;
  border: 0;
  color: #fff;
  font-size: 1.2rem;
  background-color: #a6c1c9;
  border-radius: 32px;
}

@media (max-width: 992px) {
  footer .footer_top .footer_t .foot_col .form_mail form .subf {
    padding: 0 25px;
    height: 50px;
    font-size: 0.8rem;
  }
}

footer .footer_top .footer_t .foot_col .info {
  margin-top: 20px;
  font-family: "Lato",sans-serif;
  line-height: 24px;
  padding: 0px;
  font-size: 14px;
  color: #888885;
}

footer .footer_bottom {
  color: #888885;
  position: relative;
  padding: 21px 0px;
  margin-top: 20px;
  background: #F5F4EF;
  font-size: 14px;
}

@media (max-width: 1024px) {
  footer .footer_bottom {
    padding: 21px 10px;
  }
}

footer .footer_bottom .text {
  font-family: "Lato",sans-serif;
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  max-width: 1000px;
}
/*# sourceMappingURL=index.css.map */