.nav {
  display: block;
  width: 100%;
  max-width: 1275px;
  margin: 0 auto;
}

.nav .containerso {
  width: 1100px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .nav .containerso {
    width: 100%;
  }
}

.nav .containerso .imglienhe a img {
  width: 100%;
}

.nav .containerso .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lato", sans-serif;
  margin-top: 10px;
}

@media (max-width: 992px) {
  .nav .containerso .form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.nav .containerso .form .form_text {
  width: 70%;
  padding: 15px;
  border-radius: 20px 0 0 20px;
  background: #eee;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .nav .containerso .form .form_text {
    width: 100%;
    border-radius: 20px;
  }
}

.nav .containerso .form .form_text h1 {
  text-transform: uppercase;
  color: #e78e47;
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

.nav .containerso .form .form_text form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav .containerso .form .form_text form .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav .containerso .form .form_text form .row .temp {
  width: 100% !important;
}

.nav .containerso .form .form_text form .row .temp .sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .containerso .form .form_text form .row .temp .sub button {
  border: none;
  background: #E78E47;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 20px;
  outline: none;
}

.nav .containerso .form .form_text form .row .tem {
  width: calc(100%/2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 10px;
}

.nav .containerso .form .form_text form .row .tem label {
  width: 100%;
  color: #333333;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.nav .containerso .form .form_text form .row .tem input {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 20px;
  background: transparent;
  padding-left: 0;
  outline: none;
  color: #959595;
  font-size: 13px;
}

.nav .containerso .form .form_info {
  width: 30%;
  padding: 15px 5px;
  text-align: left;
  background: #e78e47;
  border-radius: 0 20px 20px 0;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .nav .containerso .form .form_info {
    width: 100%;
    border-radius: 20px;
  }
}

.nav .containerso .form .form_info h1 {
  color: #fff;
  font-size: 1.75rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-left: 10px;
  font-weight: 500;
}

.nav .containerso .form .form_info .text {
  margin: 20px 0;
  color: #fff;
  padding: 0 15px;
}

.nav .containerso .form .form_info .text .t1 {
  margin-bottom: 25px;
}

.nav .containerso .form .form_info .text .t1 strong {
  font-size: 1.125rem;
}

.nav .containerso .form .form_info .text .t1 p {
  font-size: 1rem;
  margin-top: 15px;
}
/*# sourceMappingURL=lienhe.css.map */