.nav{
    margin-top: 20px;
    .containerso{
        width: 1100px;
        margin: 0 auto;
        @media (max-width: 1024px){
          width: 100%;
        }
        .content_new{
            display: flex;
            @media (max-width: 1080px){
              padding: 0 10px;
            }
            .new_left{
                width: 70%;
                padding-right: 40px;
                @media (max-width: 1080px){
                  padding-right: 20px;
                }
                @media (max-width: 768px){
                    width: 100%;
                    padding-right: 0px;
                }
                .news {
                    h1{
                        font-size: 25px;
                        color: #000;
                        font-weight: bold;
                        margin-bottom: 4px;
                    }
                    .date{
                        font-style: italic;
                        color: #888888;
                        margin-top: 5px;
                        margin-bottom: 10px;
                        font-size: 13px;
                        span:nth-child(1){
                            color: #ff6600;         
                        }
                    }
                    .item_content{
                        margin-bottom: 20px;
                        .content{
                            p{
                                font-size: 15px;
                                padding: 5px 0px;
                                strong{
                                    color: #ff6600;
                                }
                                img{
                                    width: 100%;
                                   
                                }
                                span{
                                    color: #333399;
                                    font-weight: bold;
                                    strong{
                                        padding-bottom: 10px;
                                        font-size: 20px;
                                        color: #003366;
                                    }
                                }
                            }
                        }
                    }
                    .share{
                        display: flex;
                        margin-bottom: 10px;
                        .item_share{
                            margin-right: 7px;
                            button{
                                border-radius: 3px;
                                font-size: 11px;
                                height: 20px;
                                padding: 0 6px;
                                background: #1877f2;
                                border: 0;
                                color: #fff;
                                display: inline-block;
                                zoom: 1;
                                cursor: pointer;
                                font-weight: bold;
                                font-family: Helvetica, Arial, sans-serif;
                                -webkit-font-smoothing: antialiased;
                                margin: 0;
                                position: relative;
                                white-space: nowrap;
                            }
                        }
                    }
                    .tags{
                        margin-bottom: 10px;
                        display: flex;
                        h3{
                            margin-right: 10px;
                        }
                        ul{
                            li{
                                display: inline-block;
                                margin-right: 5px;
                                margin-top: 3px;
                                a{
                                    font-size: 12px;
                                    text-decoration: none;
                                    display: block;
                                    background: #f4f4f4;
                                    color: #444;
                                    border: 1px solid #cccccc;
                                    padding:2px 5px;
                                    &:hover{
                                        color: #fff;
                                        background: #444;
                                    }
                                }
                            }
                        }
                    }
                   .list_orther{
                        margin-top: 30px;
                        .ttl{
                            color: #444444;
                            font-weight: normal;
                            font-size: 20px;
                            border-bottom: 1px dashed #999;
                            margin-bottom: 15px;
                        }
                        ul{
                            list-style: none;
                            margin: 0px;
                            padding: 0px 0px 0px;
                            li{
                                margin-bottom: 7px;
                                a:before {
                                    content: '';
                                    display: block;
                                    width: 5px;
                                    height: 5px;
                                    background: #666666;
                                    position: absolute;
                                    left: 0px;
                                    top: 8px;
                                    
                                    border-radius: 50%;
                                }
                                a{
                                    font-size: 13px;
                                    text-decoration: none;
                                    padding-left: 17px;
                                    color: #444444;
                                    display: inline-block;
                                    position: relative;
                                    &:hover{
                                        color: #ff6600;
                                        transition: 0.5s;
                                    }
                                }
                                span{
                                    font-size: 13px;
                                    color: #999999; 
                                }
                            }
                        }
                   }
                    
                }
            }
            .new_right {
               
                width: 30%;
               
               
                font-family: 'Rubik', sans-serif;
                @media (max-width: 768px){
                  display: none;
              }
                .news {
                  background-color: #F5F4EF;
                  padding: 2.15em 2.85em 2.35em;
                  position: -webkit-sticky;
                  position: sticky;
                  top: 0;
                    .box_news {
                        margin-top: 20px;
                        display: flex;
                        flex-wrap: wrap;
                      .new_item {
                        width: 100%;
                        margin-bottom: 20px;
                        .images {
                          a {
                            img {
                              max-width: 100%;
                            }
                          }
                        }
                        .info {
                          margin-top: 5px;
                          text-align: left;
                          font-family: "Lato", sans-serif;
                          .name {
                            margin-bottom: 5px;
                            a {
                              font-size: 1.25rem;
                              color: #000;
                             
                              text-decoration: none;
                            }
                          }
                          .date {
                            color: #999999;
                            font-size: 1.125rem;
                            margin-bottom: 5px;
                          }
                          .short {
                            font-size: 0.875rem;
                          }
                          .xemthem {
                            a {
                              text-decoration: none;
                              display: inline-block;
                              font-size: 17px;
                              font-weight: bold;
                              color: #e78e47;
                              border-bottom: 3px solid;
                              margin-top: 15px;
                              padding-bottom: 5px;
                            }
                          }
                        }
                      }
                    }
                }
            }
        }
        .duan{
            margin-top: 40px;
            padding: 13px 0px 0px;
            h1{
                display: block;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 2.5rem;
                color: #000;
                font-family: "Lato", sans-serif;
            }
            .project{
              display: flex;
              flex-wrap: wrap;
              margin-top: 15px;
              padding: 0 15px;
              @media (max-width: 768px){
                margin-left: 12px;
              }
              .item_project{
                width: calc(96%/4);
                margin-right: 1%;
                margin-bottom: 15px;
                font-family: "Lato", sans-serif;
                @media (max-width: 992px){
                  width: calc(96%/3);
                }
                @media (max-width: 600px){
                  width: calc(96%/2);
                }
                @media (max-width: 520px){
                  width: 100%;
                }
                .img{
                  a{
                    img{
                      width: 100%;
                    }
                  }
                }
                .title{
                  
                  a{
                    text-decoration: none;
                    color: #333;
                    font-size: 15px;
                    font-weight: bold;
                    padding-top: 8px;
                  }
                }
              }
            }
        }
        .form{
          display: flex;
          font-family: "Lato", sans-serif;
          margin-top: 15px;
          padding: 15px;
          @media (max-width: 992px){
            flex-wrap: wrap;
          }
          .form_text{
              width: 70%;
              padding: 15px;
              border-radius: 20px 0 0 20px;
              background: #eee;
              margin-bottom: 20px;
              @media (max-width: 992px){
                width: 100%;
                border-radius: 20px;
              }
              h1{
                text-transform: uppercase;
                color: #e78e47;
                font-size: 1.75rem;
                font-weight:500;
                margin-bottom: 10px;
                text-align: center;
              }
              form{
                  display: flex;
                  flex-wrap: wrap;
                  .row{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    .temp{
                      width: 100% !important;
                      .sub{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        button{
                          border: none;
                          background: #E78E47;
                          color: #fff;
                          font-size: 17px;
                          font-weight: bold;
                          padding: 10px 30px;
                          border-radius: 20px;
                          outline: none;
                        }
                      }
                    }
                    .tem{
                        width: calc(100%/2);
                        display: flex;
                        flex-wrap: wrap;
                        padding: 0 10px;
                        label{
                          width: 100%;
                          color: #333333;
                          font-weight: bold;
                          font-size: 14px;
                          text-transform: uppercase;
                          margin-bottom: 5px;
                        }
                        input{
                          width: 100%;
                          height: 40px;
                          border: none;
                          border-bottom: 1px solid #e1e1e1;
                          margin-bottom: 20px;
                          background: transparent;
                          padding-left: 0;
                          outline: none;
                          color: #959595;
                          font-size: 13px;
                        }
                        
                      }
                  }
              }
          }
          .form_info{
            width: 30%;
            padding:15px 5px;
            text-align: left;
            background: #e78e47;
            border-radius: 0 20px 20px 0;
            margin-bottom: 20px;
            @media (max-width: 992px){
              width: 100%;
              border-radius: 20px;
            }
            h1{
              color: #fff;
              font-size: 1.75rem;
              text-transform: uppercase;
              margin-bottom: 10px;
              padding-left: 10px;
              font-weight: 500;
            }
            .text{
              margin: 20px 0;
              color: #fff;
              padding: 0 15px;
              .t1{
                margin-bottom: 25px;
                strong{
                  font-size:  1.125rem;
                  
                }
                p{
                  font-size: 1rem;
                  margin-top: 15px;
                }
              }
            }
          }
        }
    }
}